src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9856d7d8-ade2-4115-b1ec-c54f0819effe" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="35dd44ef-5d3b-43b6-a2e4-12fae4110147" >
		<http:listener doc:name="Listener" doc:id="7c2322e1-90e0-47fa-a18b-fe72ade2de33" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["hello world!!!!!"]' doc:name="Set Payload" doc:id="2b9bc677-a631-4d51-bdd5-17d36f1b5aec" />
		<logger level="INFO" doc:name="Logger" doc:id="bb659b1f-4c15-4e0a-b26a-409b150e6364" message="#[payload]"/>
	</flow>
</mule>
